# Tabular Data

Neural nets for Tabular Data! Logistic Regression, RF, XGM are traditionally used. However NN can be used for analysing Tabular Data.

* Lot of the hand created features were not necessary vs ML algorithms
* Pinterest replaced their algo with NN

In [0]:
from fastai import *
from fastai.tabular import *

In [0]:
path = untar_data(URLs.ADULT_SAMPLE)

In [0]:
df = pd.read_csv(path/'adult.csv')

In [6]:
df.head(1)

   age workclass  fnlwgt  ... hours-per-week  native-country salary
0   49   Private  101320  ...             40   United-States  >=50k

[1 rows x 15 columns]

In [9]:
list(df.columns)

['age',
 'workclass',
 'fnlwgt',
 'education',
 'education-num',
 'marital-status',
 'occupation',
 'relationship',
 'race',
 'sex',
 'capital-gain',
 'capital-loss',
 'hours-per-week',
 'native-country',
 'salary']

In [13]:
df.dtypes

age                 int64
workclass          object
fnlwgt              int64
education          object
education-num     float64
marital-status     object
occupation         object
relationship       object
race               object
sex                object
capital-gain        int64
capital-loss        int64
hours-per-week      int64
native-country     object
salary             object
dtype: object

## Independent Variables

As we know variables can be of two types i.e. continuous and categorical.

For continuous, we tend to use embeddings. Think of continuous variables as sending pixels into a neural nets.

In [0]:
# dependent variable
y = 'salary'

# Categorical independent variables
cat_x = [ 'workclass',
         'education',
         'marital-status',
         'occupation',
         'relationship',
         'race',
         'sex'
        ]

# Continuous independent variables
cont_x = ['age', 'fnlwgt', 'education-num']

# Processors for preprocessing
procs = [FillMissing, Categorify, Normalize]

* Processors are similar to transforms. However, transforms are more of data augmentation.
* FillMissing fills the missing values with medians  


Now using datablock api,

In [0]:
test = TabularList.from_df(df.iloc[800:1000].copy(),
                          path=path, cat_names=cat_x,
                          cont_names=cont_x)

In [0]:
data = (TabularList.from_df(df, path=path, cat_names=cat_x,
                           cont_names=cont_x, procs=procs)
                    .split_by_idx(list(range(800,1000)))
                    .label_from_df(cols=y)
                    .add_test(test)
                    .databunch()
       )

In [19]:
data.show_batch()

> Note : Layers is where we define our NN architecture.

In [20]:
learn = tabular_learner(data, layers=[200,100], metrics=accuracy)
learn.fit(1, 1e-2)

We got an accuracy of 83% (with the default hyperparameters).